{{- if .Values.webhookServer.enable -}}
{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kubefledged.fullname" . }}-webhook-server
  labels:
    {{ include "kubefledged.labels" . | nindent 4 }}
{{- end -}}
{{- end -}}
